{% extends "FOSUserBundle::layout.html.twig" %}

{% block body %}
    <div class="container">
        {% include "FOSUserBundle:ChangePassword:change_password_content.html.twig" %}
    </div>
{% endblock body %}
